/* stili generali */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-family: 'Exo 2', sans-serif;
    font-family: 'Kanit', sans-serif;
}

/* stili conteeenuto */

#title{
    color: rgb(255, 42, 124);
    font-size: 40px;
}

#titolo-sottotitolo {
    text-align: center;
    width: 70%;
    margin: 0 auto;
}

#titolo-sottotitolo h2 {
    margin: 40px 0;
}

#titolo-sottotitolo p {
    margin-bottom: 40px;
}

#row {
    width: 65%;
    margin: 0 auto;
}

.colonna {
    width: calc(100% / 3);
    float: left;
}

.card{
    background-color: rgb(23, 23, 23);
    margin-top: 40px;
    margin-right: 20px;
    height: 100px;
}

.img-style{
    width: 100px;
    float: left;
}

.descrizione{
    margin-left: 110px;
}

.nome{
    color: white;
    font-weight: bold;
    font-size: 18px;
}

.professione{
    color: rgb(220, 220, 220);
}

.mail{
    text-decoration:none;
    color:rgb(55, 208, 254);
}